body {
	font-family: 'Roboto';
	font-size: 20px;
	background-color: azure;
	color: black;
}
h1 {
	font-size: 40px;
}
select {
		font-family: 'Roboto';
		background-color: #A1C4FE;
		color: black;
}
table, th, td {
	vertical-align: top;
}
img {
	vertical-align: top;	
}
div.b{
	text-align: left;
}

